/*CSS ma gueule!*/
h1{
  font-size: 40px;
  color: #b3e5fc;
  }

.footer{
  color:#b3e5fc
}

img{
  display: block;
  margin: 0px auto;
}

#cover{
  background-image: url("https://www.hostingpics.net/viewer.php?id=486447CCI25082017LR1.jpg");
}
